.bnted{
    background-color: #54dffb !important;
    color: #d872c7 !important;
    border-radius:  5px !important;
    border: 2px solid #3dbdd6 !important;
    height: 34px !important;
    font-size: 0.5cm !important;
    margin-left: 1% !important; 
    padding-top: 1px !important;
}